:root {
  box-sizing: border-box;
}

#,
::before,
::after {
  box-sizing: inherit;
}

/* ref colors
  color: #ACC5E1;
  color: #6381A8;

*/

body {
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid grey;
  background-color: white;
  z-index: 99;
  font-size: 1.5rem;
}

.logo {
  position: absolute;
  height: 75px;
  width: 100px;
  top: 2px;
  margin-right: 10px;
  margin-left: 0px;
}

.about {
  padding-left: 100px;
}

nav h1 {
  color: #6381a8;
  font-family: chalkboard;
  font-size: 3rem;
}

.nav-link {
  padding-right: 1rem;
}

a:link {
  color: #acc5e1;
  text-decoration: none;
}
a:visited {
  color: #4e74a5;
  text-decoration: none;
}
a:hover {
  color: #6381a8;
}
a:active {
  color: #6581a5;
}

main {
  background-color: lightgrey;
  width: 100vw;

}
/* #carousel {
  border-top: 80px solid white;
}

#carousel .pic {
  width: 100vw;
  height: auto;
}

#carousel .carousel-caption {
  position: absolute;
  top: 80px;
  left: 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.about .section-header {
  padding-top: 10vw;
  text-align: center;
}

.carousel-item {
  display: none;
} */

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  position: relative;
  align-items: flex-start;
  top: 70px;
  left: 0;
  padding-bottom: 10px;
}

.carousel-viewport {
  position: absolute;
  display: flex;
  flex: 1;
  overflow-x: hidden;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling property;
}

.carousel-slide {
  position: relative;
  /* flex: 0 0 100%; */
  height: 100vh;
  width: 100vw;
  /* object-fit: cover; */
}

.pic {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 75%;
  padding-bottom: 10px;
}

.carousel-snapper {
  display: flex;
  position: absolute;
  scroll-snap-align: start;
  z-index: 2;
  top: 90vh;
}

.fas {
  font-size: 4rem;
}

#slide-2, #slide-3 {
  display: none;
  object-fit: cover;
}

.carousel h2 {
  position: absolute;
  top: 0px;
  left: 2vw;
  color: white;
  font-size: 3rem;
}

.box {
  background-color: #ACC5E1;
  padding-top: 108vh;
  padding-left: 1vw;
  height: 100vh;
  width: 99vw;
  color: #4e74a5;
}

.section-head {
  border-bottom: 5px solid white;
}

.info ol {
  counter-reset: my-awesome-counter;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.info ol li {
  counter-increment: my-awesome-counter;
}

.info ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #4e74a5;
}

.info p {
  color: white;
  padding-left: 2vw;
  margin-top: 0.2em;
}


footer {
  position: absolute;
  height: 10vh;
  width: 100vw;
  background-color: #6381A8;
  text-align: center;
  color: white;
  z-index: 3;
  top: 200vh;
  padding-top: 2vh;
}